*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: #fcfcfc;
  }
  footer{
    background-color: #1F0F10;
    height: auto;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    color: #fff;
  }
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content h1{
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 2rem;
  }
  .footer-content p{
    max-width: 500px;
    margin: 0px auto;
    line-height: 20px;
    font-size: 10px;
  }
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
  }
  .socials li{
    margin: 0 10px;
  }
  .socials img{
    border: 2px solid white;
    border-radius: 50%;
  }
  .socials a{
    text-decoration: none;
    color: #fff;
  }
  .footer-bottom{
    background: #000;
    width: 100%;
    padding: 0px 0;
    text-align: center;
  }
  .footer-bottom p{
    font-size: 10px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }
