
  <html>
<body>
    <footer>
        <div class="footer-content">
            <h1>Gamerview.pl</h1>
            <p>Gamerwiev to strona idealna dla ciebie dzięki, której znajdziesz odpowiednią grę dla siebie</p>
            <ul class="socials">
                <li><a href="https://www.facebook.com/"><img src="assets/Footer/Facebook.png" width="40px" height="40px"></a></li>
                <li><a href="https://www.instagram.com/"><img src="assets/Footer/Instagram.png" width="40px" height="40px"></a></li>
                <li><a href="https://www.twitter.com/"><img src="assets/Footer/Twitter.png" width="40px" height="40px"></a></li>
                <li><a href="https://www.Youtube.com/"><img src="assets/Footer/Youtube.png" width="40px" height="40px"></a></li>
                <li><a href="https://www.gmail.com/"><img src="assets/Footer/Mail.png" width="40px" height="40px"></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2022 Gamerview.pl designed by <span>Michał Duda, Marta Ambroziak, Adam Badziak</span></p>
        </div>
    </footer>
</body>

</html>