.Nav {
  display: flex;
  place-items: center;
  width: 100%;
  padding-top: 0px;
  background-color: #FF9A2B;
}

a.Nav_button {
  width: 20%;
  height: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.7vmax;
  padding: 5px 1% 5px 1%;
  color: #130A0A;

  text-decoration: none;
  transition: background-color 1s;
}
a.Nav_button:visited, a.Nav_button:link {
  decoration: none;
  color: #130A0A;
}

a.Nav_button:hover {
  background-color: #FF4729;
}

a {
  cursor: pointer;
}



