<section class="Sec_1" id="Sekcja_1">

  <div class = "Column_1">
    <div class = "Column_text_1">
      <h1>Ghostrunner</h1>
      Tnij przeciwników podczas dynamicznej walki wręcz.
      Monomolekularna katana pomoże w obliczu zagrożenia,
      a dzięki nadludzkim zdolnościom dostaniesz się na szczyt Wieży Dharmy, gdzie w końcu zemścisz się na tyrańskim Kluczniku.
      <br/><a rel = "noopener" href = "https://ghostrunnergame.com/pl-pl/" target = "_blank" title = "Ghostrunnergame.com"> Dowiedz się więcej </a>
    </div>
    <img src = "./assets/Main_sec_1/g_1.jpg" title = "Ghostrunner" alt = "Game_image_1"/>
  </div>
  <div class="Column_2">

    <div class="Column_2_1">

      <div class="Column_text_2">
        <h1>Lost Ark</h1>
        Zanurkuj w epicką fabułę Arkesii.
        <br /><a rel="noopener" href="https://www.playlostark.com/en-gb/" target="_blank" title="Playlostark.com">
          Dowiedz
          się więcej </a>
      </div>
      <img src="./assets/Main_sec_1/g_2.jpg" title="Lost Ark" alt="Game_image_2" />
    </div>

    <div class="Column_2_2">
      <div class=Column_2_2_1>
        <div class="Column_text_2">
          <h1>Fortnite</h1>
          Dołączcie do rebelii w ostatecznej bitwie o odbicie punktu zerowego!
          <br /><a rel="noopener" href="https://www.epicgames.com/fortnite/pl/home" target="_blank"
            title="Epicgames.com/fortnite"> Dowiedz się więcej </a>
        </div>
        <img id="G3" src="./assets/Main_sec_1/g_3.jpg" title="Fortnite" alt="Game_image_3" />
      </div>

      <div class=Column_2_2_1>
        <div class="Column_text_3">
          <h1>Among Us</h1>
          Załoganci pracują razem by wykonać wszystkie zadania zanim Impostor zabije wszystkich na pokładzie.
          <br /><a rel="noopener" href="https://www.innersloth.com/games/among-us/" target="_blank"
            title="Innersloth.com/games/among-us"> Dowiedz się więcej </a>
        </div>
        <img id="G4" src="./assets/Main_sec_1/g_4.jpg" title="Among Us" alt="Game_image_4" />
      </div>

    </div>

  </div>

  <div class="Column_3">
    <div class="Column_text_1">
      <h1>League of Legends</h1>
      Niezależnie od tego, czy lubisz rzucać się w sam środek walki,
      wspierać sojuszników lub robić coś pomiędzy,
      na Summoner's Rift na pewno znajdzie się dla ciebie miejsce.
      <br /><a rel="noopener" href="https://www.leagueoflegends.com/pl-pl/" target="_blank" title="Leagueoflegends.com">
        Dowiedz się więcej </a>
    </div>
    <img src="./assets/Main_sec_1/g_5.jpg" title="League of Legends" alt="Game_image_5" />
  </div>

  <!-- - Ogólny sposób interakcji z linkami, przyciskami itd. (gdy wszystko będzie zrobione, bo będzie ustalony dla wszystkich)
       - Ustalić ogólną paletę kolorów
       - Sprawdzić czy wszystkie linki, obrazki oraz nawigacje są poprawnie opisane
       -  -->

</section>

<section class="Sec_2" id="Sekcja_2">
  <div class="sec_2_row">
    <div class="sec_2_column sec_2_left sec_2_column_left">
      <img src="./assets/Main_sec_2/g_1.jpg" title="Wiedzmin 3"
        alt="https://www.gry-online.pl/gry/the-witcher-3-wild-hunt/z83579">
    </div>
    <div class="sec_2_column, sec_2_right">
      <h1 class="sec_2_title">Wiedźmin 3: Dziki Gon</h1>
      <p>Gra action RPG, stanowiąca trzecią część przygód Geralta z Rivii. Podobnie jak we wcześniejszych odsłonach
        cyklu,
        Wiedźmin 3: Dziki Gon bazuje na motywach twórczości literackiej Andrzeja Sapkowskiego, jednak nie jest
        bezpośrednią adaptacją żadnej z jego książek.
        Wiedźmin 3 to trzecia odsłona popularnej serii gier RPG opartej na prozie Andrzeja Sapkowskiego. Tytuł
        wyprodukowało studio CD Projekt RED, czyli zespół odpowiedzialny również za dwie poprzednie części – Wiedźmina z
        2007 roku i Wiedźmina 2: Zabójców Królów z 2011 roku.</p>
      <ul>
        <li>RPG</li>
        <li>TPP</li>
        <li>FANTASY</li>
      </ul>
    </div>
  </div>
  <div class="sec_2_row">
    <div class="sec_2_column sec_2_left sec_2_column_left">
      <img src="./assets/Main_sec_2/g_2.jpg" title="Minecraft" alt="https://www.minecraft.net/pl-pl">
    </div>
    <div class="sec_2_column, sec_2_right">
      <h1 class="sec_2_title">Minecraft</h1>
      <p>Minecraft to komputerowa gra survivalowa o otwartym świecie stworzona przez Markusa Perssona i rozwijana przez
        Mojang Studios. Minecraft pozwala graczom na budowanie i niszczenie obiektów położonych w losowo generowanym
        świecie gry. Gracz może atakować napotkane istoty, zbierać surowce czy wytwarzać przedmioty.</p>
      <ul>
        <li>SURVIVAL</li>
        <li>SANDBOX</li>
      </ul>
    </div>
  </div>
  <div class="sec_2_row">
    <div class="sec_2_column sec_2_left sec_2_column_left">
      <img src="./assets/Main_sec_2/g_3.jpg" title="Battlefield: Bad Company 2"
        alt="https://www.gry-online.pl/gry/battlefield-bad-company-2/z9270">
    </div>
    <div class="sec_2_column, sec_2_right">
      <h1 class="sec_2_title">Battlefield: Bad Company 2</h1>
      <p>Battlefield: Bad Company 2 jest pierwszoosobową strzelaniną stworzoną przez szwedzkie studio DICE i wydaną
        przez Electronic Arts w marcu 2010 roku na konsole PlayStation 3 oraz Xbox 360 oraz PC. „Dwójka” jest
        bezpośrednią kontynuacją wydanego dwa lata wcześniej Battlefield: Bad Company.</p>
      <ul>
        <li>FPS</li>
        <li>WAR</li>
        <li>FPP</li>
      </ul>
    </div>
  </div>
</section>

<section class="Sec_3" id="Sekcja_3">
  <form name="sec_3_form">
    <div class="sec_2_row sec_3_text">
      <div>
        <label>Imię: </label>
        <input name="nameField" type="text" maxlength='15' placeholder="Stanisław">

        <label> Nazwisko: </label>
        <input type="text" name="lastNameField" maxlength='15' placeholder="Kowaliski">

        <label> E-mail: </label>
        <input type="text" name="emailField" maxlength='25' placeholder="email@example.com">

        <label for="inputState"> Ulubiony TAG gier: </label>
        <select id="inputState" class="form-control">
          <option selected>Nie Posiadam</option>
          <option>FPS</option>
          <option>Sandbox</option>
          <option>MMO</option>
          <option>RPG</option>
          <option>Fantasy</option>
        </select>
      </div>
      <div>
        <button onclick="checkInputs()">Zapisz się!</button>
      </div>
    </div>
  </form>
</section>