<section class = "Sec_1" id = "Sekcja_1">

  <div class = "Column_1">
    <div class = "Column_text_1">
      <h1>Ghostrunner</h1>
      Tnij przeciwników podczas dynamicznej walki wręcz.
      Monomolekularna katana pomoże w obliczu zagrożenia,
      a dzięki nadludzkim zdolnościom dostaniesz się na szczyt Wieży Dharmy, gdzie w końcu zemścisz się na tyrańskim Kluczniku.
      <br/><a rel = "noopener" href = "https://ghostrunnergame.com/pl-pl/" target = "_blank" title = "Ghostrunnergame.com"> Dowiedz się więcej </a>
    </div>
    <img src = "./assets/Main_sec_1/g_1.jpg" title = "Ghostrunner" alt = "Game_image_1"/>
  </div>

  <div class = "Column_2">

    <div class = "Column_2_1">

      <div class = "Column_text_2">
        <h1>Lost Ark</h1>
        Zanurkuj w epicką fabułę Arkesii.
        <br/><a rel = "noopener" href = "https://www.playlostark.com/en-gb/" target = "_blank" title = "Playlostark.com"> Dowiedz się więcej </a>
      </div>
      <img src = "./assets/Main_sec_1/g_2.jpg" title = "Lost Ark" alt = "Game_image_2"/>
    </div>

    <div class = "Column_2_2">
      <div class = Column_2_2_1>
        <div class = "Column_text_2">
          <h1>Fortnite</h1>
          Dołączcie do rebelii w ostatecznej bitwie o odbicie punktu zerowego!
          <br/><a rel = "noopener" href = "https://www.epicgames.com/fortnite/pl/home" target = "_blank" title = "Epicgames.com/fortnite"> Dowiedz się więcej </a>
        </div>
        <img id = "G3" src = "./assets/Main_sec_1/g_3.jpg" title = "Fortnite" alt = "Game_image_3"/>
      </div>

      <div class = Column_2_2_1>
        <div class = "Column_text_3">
          <h1>Among Us</h1>
          Załoganci pracują razem by wykonać wszystkie zadania zanim Impostor zabije wszystkich na pokładzie.
          <br/><a rel = "noopener" href = "https://www.innersloth.com/games/among-us/" target = "_blank" title = "Innersloth.com/games/among-us"> Dowiedz się więcej </a>
        </div>
        <img id = "G4" src = "./assets/Main_sec_1/g_4.jpg" title = "Among Us" alt = "Game_image_4"/>
      </div>

    </div>

  </div>

  <div class = "Column_3">
    <div class = "Column_text_1">
      <h1>League of Legends</h1>
      Niezależnie od tego, czy lubisz rzucać się w sam środek walki,
      wspierać sojuszników lub robić coś pomiędzy,
      na Summoner's Rift na pewno znajdzie się dla ciebie miejsce.
      <br/><a rel = "noopener" href = "https://www.leagueoflegends.com/pl-pl/" target = "_blank" title = "Leagueoflegends.com"> Dowiedz się więcej </a>
    </div>
    <img src = "./assets/Main_sec_1/g_5.jpg" title = "League of Legends" alt = "Game_image_5"/>
  </div>

  <!-- - Ogólny sposób interakcji z linkami, przyciskami itd. (gdy wszystko będzie zrobione, bo będzie ustalony dla wszystkich)
       - Ustalić ogólną paletę kolorów
       - Sprawdzić czy wszystkie linki, obrazki oraz nawigacje są poprawnie opisane
       -  -->

</section>

<section class="Sec_2"  id = "Sekcja_2">
</section>

<section class="Sec_3" id = "Sekcja_3">
</section>
