<div class = "nag">
  <app-header></app-header>
  <app-nav></app-nav>
</div>
<div>
  <section class = "About" id="Sekcja_1">
    <h1>Witaj na Gamereview.pl!</h1>
    <span>Jest to strona poświęcona grom, zawarta jest tutaj biblioteka naszych ulubionych gier oraz panel aktualności,
    w którym znajdziecie informacje o najnowszych produkcjach mogących was zainteresować!
    Jeśli chcecie poznać aktualnie najpopularniejsze gry, nasz panel TOP5 z pewnością wam z tym pomoże!
    Mamy nadzieję, że wasz pobyt będzie tutaj udany!</span>
  </section>
</div>
<div class = "elem">
  <app-main></app-main>
  <app-aside></app-aside>
</div>
<app-footer></app-footer>

<!-- Naprawić Aside
Poprawić tekst w footerze, linki i najeżdżanie jak w innych linkach, przyciskach
Dodać link do głównej nazwy strony
Main 60%, Aside 40% -->





