<html>
    <body>
        <aside>
            <div class="topka">
                <h1>Weekly TOP 5 Games</h1>
            </div>
            <div class="jedynka">
                <h1>GTA V</h1>
                <h2>Akcji</h2>
                <h3>Zbrodnia</h3>
                <h4>Wieloosobowe</h4>
                <img src="assets/Aside/gta.jpg"  >
            </div>
            <div class="dwojka" >
                <h1>Minecraft</h1>
                <h2>Kreatywność</h2>
                <h3>Przygodowa</h3>
                <img src="assets/Aside/mc.jpg" >
            </div>
            <div class="trojka" >
                <h1>Fifa 22</h1>
                <h2>Sport</h2>
                <h3>Wieloosobowe</h3>
                <img src="assets/Aside/fifa.jpg" >
            </div>
            <div class="czworka" >
                <h1>Valorant</h1>
                <h2>FPS</h2>
                <h3>Wieloosobowe</h3>
                <img src="assets/Aside/valo.jpg" >
            </div>
            <div class="piec" >
                <h1>Dota 2</h1>
                <h2>MOBA</h2>
                <h3>Wieloosobowe</h3>
                <img src="assets/Aside/dota.jpg" >
            </div>
        </aside>



    </body>

</html>
