<div class="section title">
    <h3>TOP 5 GIER TYGODNIA</h3>
</div>
<div class="sec_2_row">
    <div class="sec_2_column sec_2_left sec_2_column_left">
      <img src="./assets/Aside/dota.jpg" title=" Dota 2" alt="Obraz_Dota2">
    </div>
    <div class="sec_2_column, sec_2_right">
      <h1 class="sec_2_title">Dota 2</h1>
      <ul>
        <li>RPG</li>
        <li>MULTIPLAYER</li>
        <li>FANTASY</li>
      </ul>
    </div>
  </div>
  <div class="sec_2_row">
    <div class="sec_2_column sec_2_left sec_2_column_left">
      <img src="./assets/Aside/fifa.jpg" title=" FIFA" alt="Obraz_FIFA">
    </div>
    <div class="sec_2_column, sec_2_right">
      <h1 class="sec_2_title">FIFA</h1>
      <ul>
        <li>SPORT</li>
        <li>MULTIPLAYER</li>
        <li>SOCCER</li>
      </ul>
    </div>
  </div>
  <div class="sec_2_row">
    <div class="sec_2_column sec_2_left sec_2_column_left">
      <img src="./assets/Aside/gta.jpg" title=" GTA V" alt="Obraz_GTAV">
    </div>
    <div class="sec_2_column, sec_2_right">
      <h1 class="sec_2_title">GTA V</h1>
      <ul>
        <li>FFP</li>
        <li>TPP</li>
        <li>FPS</li>
      </ul>
    </div>
  </div>
  <div class="sec_2_row">
    <div class="sec_2_column sec_2_left sec_2_column_left">
      <img src="./assets/Aside/mc.jpg" title=" Minecraft" alt="Obraz_Minecraft">
    </div>
    <div class="sec_2_column, sec_2_right">
      <h1 class="sec_2_title">Minecraft</h1>
      <ul>
        <li>SANDBOX</li>
        <li>SURVIVAL</li>
        <li>CO-OP</li>
      </ul>
    </div>
  </div>
  <div class="sec_2_row">
    <div class="sec_2_column sec_2_left sec_2_column_left">
      <img src="./assets/Aside/valo.jpg" title=" Valorant" alt="Obraz_Valorant">
    </div>
    <div class="sec_2_column, sec_2_right">
      <h1 class="sec_2_title">Valorant</h1>
      <ul>
        <li>FPS</li>
        <li>MULTIPLAYER</li>
        <li>SCI-FI</li>
      </ul>
    </div>
  </div>
